html {
  width: 100%;
  margin: 0%;
  padding: 0%;
  height: 100%;
}

body {
  background-color: rgb(17, 48, 58);
  width: auto;
  height: auto;
  margin: 0%;
  padding: 0%;
  overflow-y: scroll; /* Add the ability to scroll */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

h1 {
  color: rgb(212, 29, 29);
  width: auto;
  height: auto;
  text-align: center;
  margin: 0%;
  padding: 0%;
}

p {
  font-family: verdana;
  font-size: 20px;
}

.headingDiv {
  width: 100%;
  height: 100vh;
  background-color: rgb(221, 133, 17);
  margin: 0%;
  padding: 0%;
  background-image: url('max-kuznetsov-blog-banner-fixed.jpg');
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image within the container */
  background-repeat: no-repeat; /* Do not repeat the image */
}

.myDiv1 {
  width: 100%;
  height: 100vh;
  background-color: lightblue;
  margin: 0%;
  padding: 0%;
}

.myDiv2 {
  width: 100%;
  height: 100vh;
  background-color: rgb(19, 85, 107);
  margin: 0%;
  padding: 0%;
}

